body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.w3-mobile {
    max-width: 100%;
}

.w3-container {
    margin: 0 auto;
    padding: 20px;
}

.w3-center {
    text-align: center;
}

.w3-bar {
    background-color: #333333;
    color: #fff;
    padding: 10px;
}

.w3-bar-item {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
}

.w3-bar-item a {
    color: #fff;
    text-decoration: none;
}

.w3-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.w3-section {
    margin-bottom: 20px;
}

.w3-section:last-child {
    margin-bottom: 0;
}

.w3-select {
    border: 1px solid #000;
    background-color: #fff;
    color: #333;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
}

.w3-input {
    border: 1px solid #333333;
    margin: 0 0 0 10px;
    padding: 10px;
}

.w3-border {
    border: 1px solid #ccc;
}

.w3-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.w3-button:hover {
    background-color: #666;
}

.w3-ul {
    list-style: none;
    padding: 0;
}

.w3-black {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}



